.logo-play{
    width:150px;
}
.head-play{
    padding: 10px 0px;
    background-color: #222;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    min-height: 50px;
    margin-bottom: 20px;
}
.footer-play{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: white;
}
body {
    height: 100%;
}

.panel-play{
    z-index: 9000;
    position: relative;
    background-color: rgb(68, 68, 68);
    color: #FFF !important;
}

.image-play{
    max-height: 150px;
}

.image-play-big{
    max-height: 250px;
}

.head-play-error{
    text-align: center;
    margin-top: 50px;
}

.fa-big{
    font-size: 150px !important;
}