.logo-play{
    width:150px;
}
.head-play{
    padding: 10px 0px;
    background-color: #222;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    min-height: 50px;
    margin-bottom: 20px;
}
.footer-play{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
body {
    height: 100%;
}