<!DOCTYPE html>
<html lang="en">
<head>
     <title>Playmatch | Contest</title>
    <meta charset="UTF-8">
    <title></title>
     <!-- Bootstrap core CSS -->
    {% load static %}
    <link href='{% static 'bootstrap/dist/css/bootstrap.min.css' %}' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/app.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/play.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/admin/shop-homepage.css"%}"/>
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/admin/main.css"%}"/>
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/admin/play.css"%}"/>
    <script type="text/javascript" src='http://content.jwplatform.com/libraries/dMBQna5O.js'></script>
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static "contest/font-awesome/css/font-awesome.min.css" %}" />
</head>
<body>
    <!--Container-->
    <div class="container">
        <!-- Navigation -->
        <nav class=" head-play">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <a href="/contest/"> <img class="logo-play" src="{% static "contest/img/logos/PlaymatchWhiteSmall.png" %}" alt="" /></a>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="page-content">
            <div id="tab-general">
                <div class="row mbl  tab-content">
                    <div class="col-lg-12">
                        {% if message %}
                            <h1 class="head-play-error">Escape from here!!!
                                </br>
                            <i class="fa fa-rocket fa-big"></i>
                            </h1>
                            <h1 class="head-play-error">{{ message }}</h1>
                        {% else %}
                            <div class="row">
                                <hr>
                                <div>
                                    <img class="image-play-big slide-image" src="/contest/media/{{ contest.image }}"  alt="">
                                    <div class="col-md-6">
                                        <h1>{{ contest.name }}</h1>
                                        <h3>{{ contest.prize }}</h3>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="col-md-6"><h3><i class="fa fa-calendar"></i>  Start date:<br> {{ contest.start_date }}</h3></div>
                                         <div class="col-md-6"><h3><i class="fa fa-calendar"></i>  End date:<br> {{ contest.end_date }}</h3></div>
                                    </div>
                                    <div class="pull-right">
                                            <a href="/contest/play/{{ contest.url }}/upload" class="btn btn-success"><i class="fa fa-youtube-play"></i>&nbsp;&nbsp;Let's start</a>
                                        </div>
                                    <hr>
                                </div>
                            </div>
                            <hr>
                            <div class="page-content">
                                <div class="row">
                                    {% if videos|length > 0 %}
                                     <h4>Pages</h4>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <nav>
                                          <ul class="pagination">
                                            {% if videos.has_previous %}
                                            <li>
                                              <a href="/contest/dashboard/?page={{ videos.number|add:-1 }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                              </a>
                                            </li>
                                            {% endif %}
                                            {% for p in pages %}
                                                {% if p == videos.number %}
                                                    <li class="active"><a href="/contest/dashboard/?page={{ videos.number}}">{{ videos.number }}</a></li>
                                                {% else %}
                                                    <li><a href="/contest/dashboard/?page={{ p }}">{{ p }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if videos.has_next %}
                                            <li>
                                              <a href="/contest/dashboard/?page={{ videos.number|add:1 }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                              </a>
                                            </li>
                                            {% endif %}
                                          </ul>
                                        </nav>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <nav>
                                          <ul class="pager" style="text-align:right">
                                              {% if videos.has_previous %}
                                                 <li><a href="/contest/dashboard/?page={{ videos.number|add:-1 }}">Previous</a></li>
                                              {% endif %}
                                              {% if videos.has_next %}
                                                <li><a href="/contest/dashboard/?page={{ videos.number|add:1 }}">Next</a></li>
                                              {% endif %}
                                          </ul>
                                        </nav>
                                    </div>
                                    {% else %}
                                        <div class="text-center row">
                                            <h2>Be the first one.</h2>
                                            <a href="/contest/play/{{ contest.url }}/upload" class="btn btn-success"><i class="fa fa-youtube-play"></i>&nbsp;&nbsp;Let's start</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    {% for video in videos %}
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <!--<img src="http://placehold.it/320x150" alt="">-->
                                                <div id='myElement{{video.id}}'>Loading the player ...</div>
                                                <script type="text/javascript">
                                                  var playerInstance = jwplayer("myElement{{video.id}}");
                                                  playerInstance.setup({
                                                      file: "/contest/media/{{video.path_processed}}",
                                                      title: 'Video of {{video.owner.first_name}}',
                                                      description: '{{video.message}}'
                                                  });
                                                </script>
                                                <div class="caption">
                                                    <h4>{{ video.owner.first_name }} {{ video.owner.last_name }}</h4>
                                                    <h5><em>{{ video.owner.email }} </em></h5>
                                                    <p>{{ video.message }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                               <div class="row">
                                    {% if videos|length > 0 %}
                                     <h4>Pages</h4>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <nav>
                                          <ul class="pagination">
                                            {% if videos.has_previous %}
                                            <li>
                                              <a href="/contest/dashboard/?page={{ videos.number|add:-1 }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                              </a>
                                            </li>
                                            {% endif %}
                                            {% for p in pages %}
                                                {% if p == videos.number %}
                                                    <li class="active"><a href="/contest/dashboard/?page={{ videos.number}}">{{ videos.number }}</a></li>
                                                {% else %}
                                                    <li><a href="/contest/dashboard/?page={{ p }}">{{ p }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if videos.has_next %}
                                            <li>
                                              <a href="/contest/dashboard/?page={{ videos.number|add:1 }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                              </a>
                                            </li>
                                            {% endif %}
                                          </ul>
                                        </nav>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <nav>
                                          <ul class="pager" style="text-align:right">
                                              {% if videos.has_previous %}
                                                 <li><a href="/contest/dashboard/?page={{ videos.number|add:-1 }}">Previous</a></li>
                                              {% endif %}
                                              {% if videos.has_next %}
                                                <li><a href="/contest/dashboard/?page={{ videos.number|add:1 }}">Next</a></li>
                                              {% endif %}
                                          </ul>
                                        </nav>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer {% if message %}class="footer-play"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Playmatch 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
     <!-- Bootstrap -->
    <script type="text/javascript" src='{% static 'contest/js/play.js' %}'></script>
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap-validator/dist/validator.min.js' %}'></script>
</body>
</html>