<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
     <!-- Bootstrap core CSS -->
    {% load static %}
    <link href='{% static 'bootstrap/dist/css/bootstrap.min.css' %}' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/app.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/play.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/admin/shop-homepage.css"%}"/>
    <link rel="stylesheet" type="text/css" href="{% static "contest/css/admin/main.css"%}"/>
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static "contest/font-awesome/css/font-awesome.min.css" %}" />
</head>
<body>
    <!--Container-->
    <div class="container">
        <!-- Navigation -->
        <nav class=" head-play">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <a href="/contest/"> <img class="logo-play" src="{% static "contest/img/logos/PlaymatchWhiteSmall.png" %}" alt="" /></a>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="page-content">
            <div id="tab-general">
                <div class="row mbl  tab-content">
                    <div class="col-lg-12">
                            <hr>
                            <div>
                                <img class="slide-image" src="http://placehold.it/800x300"  style="height: 250px;" alt="">
                                <div class="col-md-8">
                                    <h1>NOMBRE DEL CONCURSO</h1>
                                    <h3>Descripcion del concurso</h3>
                                </div>
                                <div class="col-md-4">
                                     <div class="col-md-6"><h4><i class="fa fa-calendar"></i>  Start: yyyy/mm/dd</h4></div>
                                     <div class="col-md-6"><h4><i class="fa fa-calendar"></i>  End: yyyy/mm/dd</h4></div>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-success"><i class="fa fa-youtube-play"></i>&nbsp;&nbsp;Let's win</a>
                                </div>
                            </div>
                            <hr>
                            <div class="page-content">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <nav>
                                          <ul class="pagination">
                                            <li>
                                              <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                              </a>
                                            </li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li>
                                              <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                              </a>
                                            </li>
                                          </ul>
                                        </nav>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <nav>
                                          <ul class="pager" style="text-align:right">
                                            <li><a href="#">Previous</a></li>
                                            <li><a href="#">Next</a></li>
                                          </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img src="http://placehold.it/320x150" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right">upload date</h4>
                                                    <h4>User name </h4>
                                                    <h5><em>email </em></h5>
                                                    <p>Video description</p>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <nav>
                                          <ul class="pagination">
                                            <li>
                                              <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                              </a>
                                            </li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li>
                                              <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                              </a>
                                            </li>
                                          </ul>
                                        </nav>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <nav>
                                          <ul class="pager" style="text-align:right">
                                            <li><a href="#">Previous</a></li>
                                            <li><a href="#">Next</a></li>
                                          </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Playmatch 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
     <!-- Bootstrap -->
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap-validator/dist/validator.min.js' %}'></script>
</body>
</html>